# M3 - W1 Assignment: Importing Data from SQL Database
## Luke Barry
### 11.01.2021

In [1]:
import numpy as np
import pandas as pd
import sqlite3
con = sqlite3.connect("C:/Users/LukeB\Documents/ELU/chinook.db")
table = pd.read_sql_query("SELECT name FROM sqlite_master WHERE type='table'", con)
print(table)

               name
0            albums
1   sqlite_sequence
2           artists
3         customers
4         employees
5            genres
6          invoices
7     invoice_items
8       media_types
9         playlists
10   playlist_track
11           tracks
12     sqlite_stat1

### 1) 
To compare the information in the "genres" and "tracks" section, I accessed both the tables below.

In [5]:
genre = pd.read_sql_query('SELECT * FROM genres', con)
print(genre)

    GenreId                Name
0         1                Rock
1         2                Jazz
2         3               Metal
3         4  Alternative & Punk
4         5       Rock And Roll
5         6               Blues
6         7               Latin
7         8              Reggae
8         9                 Pop
9        10          Soundtrack
10       11          Bossa Nova
11       12      Easy Listening
12       13         Heavy Metal
13       14            R&B/Soul
14       15   Electronica/Dance
15       16               World
16       17         Hip Hop/Rap
17       18     Science Fiction
18       19            TV Shows
19       20    Sci Fi & Fantasy
20       21               Drama
21       22              Comedy
22       23         Alternative
23       24           Classical
24       25               Opera

In [3]:
tracks = pd.read_sql_query('SELECT * FROM tracks', con)
tracks.head()

,TrackId,Name,AlbumId,MediaTypeId,GenreId,Composer,Milliseconds,Bytes,UnitPrice
0,1,For Those About To Rock (We Salute You),1,1,1,"Angus Young, Malcolm Young, Brian Johnson",343719,11170334,0.99
1,2,Balls to the Wall,2,2,1,None,342562,5510424,0.99
2,3,Fast As a Shark,3,2,1,"F. Baltes, S. Kaufman, U. Dirkscneider & W. Ho...",230619,3990994,0.99
3,4,Restless and Wild,3,2,1,"F. Baltes, R.A. Smith-Diesel, S. Kaufman, U. D...",252051,4331779,0.99
4,5,Princess of the Dawn,3,2,1,Deaffy & R.A. Smith-Diesel,375418,6290521,0.99

### 2) 
Finding all the metal songs

In [4]:
metal = pd.read_sql_query('SELECT a.Name as Song_Title, b.Name as Genre FROM tracks as a\
                            LEFT JOIN genres as b on a.GenreId=b.GenreId\
                            WHERE Genre == "Metal"', con)
metal.head()

            Song_Title  Genre
0        Enter Sandman  Metal
1    Master Of Puppets  Metal
2  Harvester Of Sorrow  Metal
3       The Unforgiven  Metal
4         Sad But True  Metal

### 3) 
Finding how much of each genre there is.

In [10]:
genre_amt = pd.read_sql_query('SELECT b.Name as Genre, COUNT(a.GenreId) as AMT\
                             FROM tracks as a LEFT JOIN genres as b\
                             on a.GenreId=b.GenreId GROUP BY a.GenreId ORDER BY AMT DESC', con)
print(genre_amt)

                 Genre   AMT
0                 Rock  1297
1                Latin   579
2                Metal   374
3   Alternative & Punk   332
4                 Jazz   130
5             TV Shows    93
6                Blues    81
7            Classical    74
8                Drama    64
9             R&B/Soul    61
10              Reggae    58
11                 Pop    48
12          Soundtrack    43
13         Alternative    40
14         Hip Hop/Rap    35
15   Electronica/Dance    30
16         Heavy Metal    28
17               World    28
18    Sci Fi & Fantasy    26
19      Easy Listening    24
20              Comedy    17
21          Bossa Nova    15
22     Science Fiction    13
23       Rock And Roll    12
24               Opera     1

### 4) 
Finding which composers have the longest songs on average

In [6]:
avg_ms = pd.read_sql_query('SELECT AVG(Milliseconds) as AVG_Song_Length_ms, Composer\
                    FROM tracks GROUP BY Composer ORDER BY AVG_Song_Length_ms DESC', con)
print(avg_ms)

     AVG_Song_Length_ms                                           Composer
0             1196094.0                 Blackmore/Gillan/Glover/Lord/Paice
1             1116734.0                            Jimmy Page/Led Zeppelin
2              913658.0           Gillan/Glover/Lord/Nix - Blackmore/Paice
3              863895.0  John Bonham/John Paul Jones/Robert Plant/Willi...
4              854700.0                                Blackmore/Coverdale
..                  ...                                                ...
848             65488.0                                         Dale Evans
849             45191.0  Marisa Monte/poema de Octavio Paz/vers√£o: Haro...
850             43232.0                                      Hendrix, Jimi
851             38164.0      Mabins, Macie/Magee, Sterling/Robinson, Bobby
852             14576.0                                        L. Muggerud

[853 rows x 2 columns]

### 5) 
Finding which genres have the longest content

In [7]:
content_length = pd.read_sql_query('SELECT b.Name as Genre, Milliseconds as Content_Length_ms\
                             FROM tracks as a INNER JOIN genres as b\
                             on a.GenreId=b.GenreId GROUP BY a.GenreId ORDER BY Content_Length_ms DESC', con)
print(content_length)

                 Genre  Content_Length_ms
0             TV Shows            5286953
1     Sci Fi & Fantasy            2622622
2      Science Fiction            2622250
3                Drama            2571154
4               Comedy            1273064
5    Electronica/Dance             529684
6           Bossa Nova             409965
7            Classical             356426
8                 Rock             343719
9          Hip Hop/Rap             315637
10               World             284107
11          Soundtrack             276349
12      Easy Listening             275879
13  Alternative & Punk             255529
14              Reggae             249808
15         Alternative             234013
16         Heavy Metal             232777
17               Metal             221701
18                 Pop             205479
19                Jazz             185338
20               Latin             177397
21               Opera             174813
22            R&B/Soul             165067
23       Rock And Roll             147591
24               Blues             140434